#text_container, #text_container2 {
	font-family: Courier New;
	background-color:#181818;
	text-align: center;
	border-style: solid;
	border-width: 1px;
	position: absolute;
	height: fit-content;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 12%;
	top:15.5%;
}

#text_container {
	left: 3%;
}

#text_container2 {
	right: 3%;
}

#browser_warn {
	position: absolute;
	top: 1%;
	right:1%;
	text-align:right;
	font-family: Courier New;
}

body {
	background-color: #1f1f1f;
}

#status_container {
	border-style:solid;
	border-width: 1px;
	border-top-style:none;
	font-family:monospace;
	text-align: center; 
	font-size:200%;
	width:fit-content;
}

#game_container {
	border-width: 1px;
	background-color:#0d0d0d;
	margin-left: auto;
	margin-right:auto;
	margin-top: 1.5%;
	width: fit-content;
	height: fit-content;
	border-style: solid;
	font-size:175%;
	overflow: hidden;
	padding:3px;
	padding-left:18px;
	padding-bottom:18px;
	padding-top:13px;
	letter-spacing: 15px;
	font-family:monospace;
}

#sprite_p, #sprite_p_rotate {
	color: #ab20fd;
}

#title_text {
	width: fit-content;
	margin-left: auto; 
	margin-right: auto; 
	text-align: center;
	font-family: monospace;
	font-size: 45;
}

#status_container {
	background-color:#181818;
	padding:10px;
	font-family:monospace;
	text-align: center; 
	font-size:200%;
	margin:auto;
	width:fit-content;
}

#health_container, #sprite_p, #sprite_p_rotate, #cash_container, #f_tier, #d_tier, #c_tier, #b_tier, #a_tier, #s_tier, #door_open, #door_locked, #rain_bow_1 {
	display:inline-block;
}

#f_tier {
	color:white;
}

#d_tier {
	color:90EE90;
}

#c_tier {
	color:blue;
}

#b_tier {
	color:#ab20fd;
}

#a_tier {
	color:#FF5F15;
}
#door_open {
	color:black;
}

#door_locked {
	color:#C4A484;
}

audio {
display:none;
}

#highscore {
	background-color:#181818;
	border-top-style:solid;
	border-width: 1px;
	font-family:monospace;
	font-size: 150%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align:center;
	width:100%;
}

#user_alert {
	background-color:#181818;
	padding:5px;
	position:absolute;
	font-family:monospace;
	text-align:center;
	font-size:200%;
	margin:auto;
	width:fit-content;
	display:inline;
	bottom:5%;
	right: 5%;
	visibility: hidden;
}

#cash_container, #atk_container, #recovery_container, #floor_level {
	display:inline-block;
}

a, a:visited {
	text-decoration:underline;
}

#link_text {
}
h1 {
	font-size:1.5em;
}

#main_button {
	text-decoration: none;
	position: absolute;
	left:3%;
	top:1%;
	width:12%;
	border-style: solid;
	border-width: 1px;
	height:fit-content;
	width: 12%;
	font-family: Courier New;
	text-align: center;
	color:black;
	transition: all 0.3s ease-in-out;
	background: linear-gradient(0deg, #0e0e0e, #0e0e0e) no-repeat right bottom / 0 var(--bg-h);
	transition: background-size 600ms;
	--bg-h: 100%;
}

#main_button:hover {
	
  background-size: 100% var(--bg-h);
  background-position-x: left;
}
